body {
    background-color: #aa9f8c;
    font-family: Arial, sans-serif;
    background-image: url("../images/waiting__room.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #ff0505;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 18px;
    color: #080808;
    margin-bottom: 10px;
}

input[type="date"],
input[type="time"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button[type="submit"],
#stop-timer {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover,
#stop-timer:hover {
    background-color: #555;
}

#countdown {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
}